*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    font-weight: 15px;
    scroll-behavior: smooth;
}

/* navigation start here */

nav{
    position: relative;
    z-index: 999;
}

nav ul {
    font-size:1.8rem;
    padding: 0rem 2rem;
}

nav ul li{
    margin-left: 3rem;
}

.navbar-header .navbar-brand a{
    font-size: 2rem !important;
}

#mynavbar{
    position: relative;
}

#menu{
    display: none;
    width: 30px;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

#menu .icon-bar{
    display: block;
    width: 80%;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 500ms ease-in-out;
    
}

.change #line1{
    transform:translateY(4px) rotateZ(45deg);
}

.change #line2{
    transform:translateY(-4px) rotateZ(-45deg);
}

#navFrom{
    display: none;
}

#bag{
    display: block;
    font-size: 2rem;
    position: absolute;
    right: 24%;
    top: 10px;
}

#bag a{
    color: rgb(128, 128, 128);
}

#bag a:hover{
    color: #fff;
}

/* navigation end here */

/* header start here */

.header{
    width: 100%;
    border-bottom: 0.5px solid #a0a0a09f;
    padding-bottom: 0.8rem;
    transition: 500ms;
}

.scl{
    position: sticky;
    top: 0px;
    padding: 1.5rem 0rem;
    background-color: #fff;
    z-index: 999;
}


.header-row{
    line-height: 1rem;
    transition: 500ms;
    
}

.header a{
    font-size: 1.8rem;
    color: #000;
    font-weight: 600;
    line-height: 1rem;
}

.header a:hover{
    text-decoration: none;
    color: #000;
}

.header .over{
    line-height: 1rem;
    font-size: 1.5rem;
    color: #a0a0a09f;
    margin-right: 1rem;
}

.header .over1{
    line-height: 1rem;
    font-size: 1.5rem;
    color: #000;
    margin-right: 1rem;
}

#myButton{
    width: 50px;
    padding: 0.6rem;
    outline: none;
    border: 0;
    font-size: 1.5rem;
    background-color:#0071e3 ;
    color: #fff;
    border-radius: 20px;
}

/* header end here */

/* banner start here */

.banner{
    width: 100%;
    height: 100vh;

}
.laptop-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    left: -50%;
    z-index: -500;
}



.banner .laptop-wrapper img{
    position: absolute;
}
.banner .banner-row{
    margin-top: 6rem;
    z-index: 150;
    position: relative;
}


.banner .banner-row h3{
    font-size: 4rem;
    font-weight: 500;
    color: #000;
    z-index: 500;
}

.banner .banner-row h1{
    font-size: 10rem;
    font-weight: 700;
    color: #000;
    line-height: 10rem;
    z-index: 500;

}

/* .chnagecolor{
    color: #7a7a7aa4 !important;
    opacity: 0;
} */

.img-wrapper{
    z-index: -1;
}

.img-wrapper{
    position: absolute;
    top: -60%;
}

.img-wrapper img{
    width: 100%;
}

.who{
    width: 100%;
    
}

.who-row{
    width: 70%;
    padding: 2rem 2rem;
}

.who-row p{
    font-size: 3rem;
    font-weight: 600;
    color: #cec2c2;
    margin-bottom: 2rem;
}

.who-row a{
    color: #000;
    font-size: 2.5rem;
    font-weight: 800;
    transition: 200ms;
}

.who-row a:hover{
    text-decoration: none;
    color: #0071e3;
}



/* banner end here */


.display{
    width: 100%;
    margin-top: 8rem;

}

.display .padding{
    margin-left: 0rem;
    margin-right: 0rem;
}

.display .dis-pd{
    padding-right: 0rem;
    padding-left: 0rem;
}

.display .dis-bg-1{
    padding: 2rem 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.dis-bg-2{
    padding-left: 1rem;
    margin-left: 0rem;
}

.dis-bg-2 h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

.dis-bg-2 h2{
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0rem;
}

.dis-bg-2 .bor{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.452);
    border-top: 0.5px solid rgba(0, 0, 0, 0.452);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.8rem 1rem;
    
}

.ratina{
    width: 100%;
    padding: 2rem 0rem;
}

.ratina .rati-box h1{
    font-size: 6rem;
    font-weight: 800;
    color: gray;
    margin-bottom: 0rem;
}

.ratina .rati-box h2{
    font-size: 6rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 0rem;
}



.chirs .chirs-box{
    width: 100%;
    height: 100vh;
    background: url("../img/display_5.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 0rem;
    margin-right: 0rem;

}

.chirs-1{
    background-color: #f2f2f2;
    padding: 0rem;
    padding-top: 8rem;
}

.chirs-1 .ch1{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.chirs-1 .ch1 h2{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.chirs-1 .ch1 p{
    font-size: 1.5rem;
}

.chirs-1  .ch2{
    padding-left: 0px;
    padding-right: 0px;
}

.lep{
    padding: 4rem 0rem;
    position: relative;
}

.amc-box{
    margin-top: 5rem;
}

.amc-box .amc h1{
    font-size: 3.8rem;
    font-weight: 500;
    color: #cacaca;
    line-height: 4.2rem;
}

.amc-box .amc strong{
    color: #000;
}

.laye{
    width: 100%;
    height: 75vh;
    background-color: #f2f2f2;
    padding-top: 3rem ;
    position: relative;
}

.laye-1{
    width: 90%;
    position: absolute;
    top: 230px;
}

.laye h4{
    color: #acabab;
    font-size: 2rem;
}

#h1{
    display: block;
}

#h2, #h3, #h4{
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
}

.laye-2{
    position: relative;
}

#ih2{
    position: absolute;
    top: 0px;
    left: 80px;
    opacity: 0.5;
}

#ih3{
    position: absolute;
    top: 0px;
    left: 160px;
    opacity: 0.5;
}

#ih4{
    position: absolute;
    top: 0px;
    left: 240px;
    opacity: 0.5;
}

#ih5{
    position: absolute;
    top: 0px;
    left: 320px;
    opacity: 1;
}

.laye-3{
    position: absolute;
    bottom: 20px;
}

.laye-3 span{
    font-size: 4rem;
    z-index: 10;
    cursor: pointer;
}

.laye-3 span:hover{
    opacity: 0.8;
}

@media (max-width:1200px){

    .ratina {
        position: relative;
        top: 50%;
        width: 100%;
        padding: 2rem 0rem;
    }

    .laptop-wrapper{
        left: 0%;
    }

    
}

@media (max-width:1199px){

    .banner{
        height: 130vh;
    }

    
}

@media (max-width:1176px){

    html{
        font-size: 13px;
    }
    .ratina {
        position: relative;
        top: 50%;
        width: 100%;
        padding: 2rem 0rem;
    }

    .chirs .chirs-box{
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .ratina{
        width: 100%;
    }

    .who{
        padding: 0rem;
    }
    .laptop-wrapper img{
        width: 100%;
    }

    .banner{
        height: 120vh;
    }

}

@media (max-width:1024px){
    
    html{
        font-size: 11px;
    }

    .laptop-wrapper{
        left: 0%;
    }

    .laptop-wrapper img{
        width: 100%;
        top: -50%;
    }

    .banner{
        height: 120vh;
    }
}    

@media (max-width:786px){

/* navigation start here */

    html{
      font-size: 10px;
    }

    #menu{
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 2rem;
    }

    #mynavbar{
        display: none;
    }

    #mycontainer{
        position: relative;
    }

    #navFrom{
        display: block;
        
    }

    #navFrom input{
        width: 100%;
        border: 0;
        padding: 0.8rem;
        background-color: rgba(0, 0, 0, 0.698);
        font-size: 1.5rem;
        color: #fff !important; 
        border-bottom: none;
    }

    #search{
        display: none;
    }

    .navbar-header .navbar-brand{
        position: absolute;
        top: -1%;
        left: 50%;
        transform: translateX(-50%);

    }
    
    #bag{
        display: block;
        font-size: 2rem;
        position: absolute; 
        right: 15px; 
        top: 8px;
    }
    
    #bag a{
        color: rgb(128, 128, 128);
    }
    
    #bag a:hover{
        color: #fff;
    }

    nav ul li a{
        padding: 1rem 0rem;
        border-bottom: 1px solid #a0a0a09f;
    }

    .over, .over1{
        display: none;
    }

    .who .who-row{
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .who .who-row a{
        font-size: 2rem;
    }

    .dis-bg-2 h1{
        font-size: 1.8rem;
    }

    .dis-bg-2 h2{
        font-size: 1.5rem;
    }

    .ratina .rati-box h1{
        font-size: 2rem;
    }


/* navigation end here */

.banner .banner-row h1{
    font-size: 5rem;
    line-height: 4.5rem;
}

.banner .banner-row h3{
    font-size: 3rem;
    line-height: 4.5rem;
}

.banner{
    height: 90vh;
}

}

@media (max-width:425px){
    
    html{
        font-size: 8px;
    }

    .who{
        padding: 0rem;
    }

    .who-row{
        width: 100%;
    }

    .who-row p{
        font-size: 1.5rem;
    }

    .dis-pd{
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .dis-bg-2{
        padding-left: 1rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .ratina .rati-box h1{
        font-size: 2.5rem;
    }

    .ratina .rati-box h2{
        font-size: 2rem;
    }


    .chirs-1 .ch1 {
        width: 100%;
        position: relative;
        left: 0;
        transform: translateX(0);
    }

    .chirs-1 .ch1 q{
       font-size: 2.2rem;
    }

    .amc-box .amc h1{
        font-size: 1.8rem;
    }

    .display .dis-bg-2{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .banner{
        height: 65vh;
    }

}    

@media (max-width:320px){
    
    html{
        font-size: 6px;
    }

    .banner{
        height: 55vh;
    }

    .header a{
        font-size: 1.5rem;
    }

    .banner .banner-row h3{
        font-size: 2rem;
    }

    .banner .banner-row h1{
        font-size: 3.5rem;
    }

    .who-row p{
        font-size: 1.2rem;
    }

    .chirs-1 .ch1 q{
        font-size: 1.8rem;
     }
 
     .amc-box .amc h1{
         font-size: 1.4rem;
     }
 
     .display .dis-bg-2{
         margin-left: 1rem;
         margin-right: 1rem;
     }

     .who .who-row a{
        font-size: 1.8rem;
    }

    .dis-bg-2 h1{
        font-size: 1.4rem;
    }

    .dis-bg-2 h2{
        font-size: 1.2rem;
    }
    
}   